.no-scrollbar {
    overflow: scroll;
  
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }